.DS_Store
*.png
*.pdf
*.nc
*.grb2
*GRIBFILE*
*PFILE*
wrfout*
wrfrst*
wrfbdy*
wrfinput*
wrffdda*
oa*
*.jpeg
*.swp
*.pptx
*.exe
log.*
*.log
Log.*
*.Log
Vtable*
output*
errors*
**/wpsprd*
**/wrfprd*
wrfprd*
**/old.wrfprd*
old.wrfprd*
**/wrfrun*
wrfrun*
**/obsgrid_20*
obsgrid_20*
geogrid/
metgrid/
FILE*
NYpvow*
optNYpvw*
**/NYpvow*
**/optNYpvw*
*.idea/workspace.xml
*.idea/met4ene.iml
*.idea/misc.xml
*.idea/vcs.xml
**/.idea*
**/__pycache__*
*.pyc
ei.oper.an*
*/ei.oper.an*
